<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EmployeeDbContext"
			 connectionString="Data Source=(LAPTOP-EDO1NME3\SQLEXPRESS);Initial Catalog=EmployeeDb;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- Other configuration sections -->
</configuration>
